<section class="static-hero-s3">
  <div class="static-main-box">
    <div class="container-fluid">
      <div class="static-inner-box">
        <div class="row align-items-center">
          <div class="col col-xl-3 col-sm-6 col-lg-3 col-12 order-lg-1 order-2">
            <div
              class="couple-text wow fadeInLeftSlow"
              data-wow-duration="1500ms"
            >
              <div class="couple-text-inner">
                <i><img src="assets/images/couple/bride2.svg" alt="" /></i>
                <h3>Matea</h3>
                <p>
                  Oduvijek sam voljela putovanja i čokoladu,<br /> a sada uz to volim
                  i Stipu.
                </p>
                <div class="social"></div>
              </div>
              <div class="shape1">
                <img src="assets/images/slider/shape-1.png" alt="" />
              </div>
              <div class="shape2">
                <img src="assets/images/slider/shape-2.png" alt="" />
              </div>
              <div class="shape3">
                <img src="assets/images/slider/shape-3.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col col-xl-6 col-lg-6 col-md-8 col-12 order-lg-2 order-1">
            <div class="wpo-static-hero-img">
              <div class="wpo-static-hero-ineer-img">
                <img src="assets/images/hero.jpg" alt="" />

                <div class="hero-text wow fadeInUp" data-wow-duration="1500ms">
                  <span>Vjenčani</span>
                  <p>15.06.2019.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-xl-3 col-lg-3 col-sm-6 col-12 order-lg-3 order-3">
            <div
              class="couple-text wow fadeInRightSlow"
              data-wow-duration="1500ms"
            >
              <div class="couple-text-inner">
                <i><img src="assets/images/couple/groom2.svg" alt="" /></i>
                <h3>Stipe</h3>
                <p>
                  Oduvijek volim Mateu, a sada uz nju volim i čokoladu i pivu,
                  puno pive!
                </p>
                <div class="social"></div>
              </div>
              <div class="shape1">
                <img src="assets/images/slider/shape-1.png" alt="" />
              </div>
              <div class="shape2">
                <img src="assets/images/slider/shape-2.png" alt="" />
              </div>
              <div class="shape3">
                <img src="assets/images/slider/shape-3.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
