<section class="wpo-portfolio-section section-padding" id="gallery">
  <div class="container">
    <div class="wpo-section-title">
      <h4 class="poort-text poort-in-right">Fotografije</h4>
      <h2 class="poort-text poort-in-right">Trenutci za pamćenje</h2>
    </div>
    <div class="gallery-main-wrap">
      <div class="col-lg-12">
        <div class="sortable-gallery">
          <div class="row portfolio-grids style-1 clearfix">
            <div class="col-lg-4 col-md-6 col-12 grid">
              <div class="img-holder wow fadeInUp" data-wow-duration="1000ms">
                <a
                  href="assets/images/3.jpeg"
                  class="fancybox"
                  data-fancybox-group="gall-1"
                >
                  <img src="assets/images/3.jpeg" class="img img-responsive" />
                  <div class="hover-content">
                    <i class="ti-plus"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 grid">
              <div class="img-holder wow fadeInUp" data-wow-duration="1200ms">
                <a
                  href="assets/images/1.jpeg"
                  class="fancybox"
                  data-fancybox-group="gall-1"
                >
                  <img src="assets/images/1.jpeg" class="img img-responsive" />
                  <div class="hover-content">
                    <i class="ti-plus"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 grid">
              <div class="img-holder wow fadeInUp" data-wow-duration="1400ms">
                <a
                  href="assets/images/4.jpeg"
                  class="fancybox"
                  data-fancybox-group="gall-1"
                >
                  <img src="assets/images/4.jpeg" class="img img-responsive" />
                  <div class="hover-content">
                    <i class="ti-plus"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 grid">
              <div class="img-holder wow fadeInUp" data-wow-duration="1000ms">
                <a
                  href="assets/images/5.jpeg"
                  class="fancybox"
                  data-fancybox-group="gall-1"
                >
                  <img src="assets/images/5.jpeg" class="img img-responsive" />
                  <div class="hover-content">
                    <i class="ti-plus"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 grid">
              <div class="img-holder wow fadeInUp" data-wow-duration="1200ms">
                <a
                  href="assets/images/2.jpeg"
                  class="fancybox"
                  data-fancybox-group="gall-1"
                >
                  <img src="assets/images/2.jpeg" class="img img-responsive" />
                  <div class="hover-content">
                    <i class="ti-plus"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 grid">
              <div class="img-holder wow fadeInUp" data-wow-duration="1400ms">
                <a
                  href="assets/images/6.jpeg"
                  class="fancybox"
                  data-fancybox-group="gall-1"
                >
                  <img src="assets/images/6.jpeg" class="img img-responsive" />
                  <div class="hover-content">
                    <i class="ti-plus"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>
