<section class="wpo-story-section-s3 section-padding pt-10" id="story">
  <div class="container-fluid">
    <div class="wpo-section-title">
      <h4 class="poort-text poort-in-right">Naša bajka</h4>
      <h2 class="poort-text poort-in-right">Never without you again</h2>
    </div>
    <div class="wpo-story-wrap">
      <div class="wpo-story-item">
        <div class="wpo-story-img-wrap">
          <div class="wpo-story-img">
            <img src="assets/images/meet.png" alt="djevojka uz rijeku" />
            <div
              class="wpo-img-shape wow fadeInLeftSlow"
              data-wow-duration="1200ms"
            >
              <img src="assets/images/story/flower-shape-1.png" alt="" />
            </div>
          </div>
        </div>
        <div class="wpo-story-content">
          <div class="wpo-story-content-inner">
            <h2>First Time We Meet</h2>
            <span>22 Velj. 2017</span>
            <p>
              Matea je šetala uz rijeku, dva psa trčala su oko nje, kad je
              vidjela muškarca kako spašava kapu iz vode. Brzo je snimila
              trenutak. „Lijepa slika?“ pitao je, smiješeći se. „Ovisi koliko
              vrijedi kapa,“ odgovorila je. Njihovi psi su se sprijateljili, a
              razgovor je tekao lako. I tako je počelo.
            </p>

            <div class="inner-shape">
              <img src="assets/images/story/flower-shape-2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="wpo-story-item">
        <div class="wpo-story-img-wrap">
          <div class="wpo-story-img">
            <img src="assets/images/date.jpg" alt="ljubavni par kraj mora" />
            <div
              class="wpo-img-shape wow fadeInRightSlow"
              data-wow-duration="1200ms"
            >
              <img src="assets/images/story/flower-shape-1.png" alt="" />
            </div>
          </div>
        </div>
        <div class="wpo-story-content">
          <div class="wpo-story-content-inner">
            <h2>Our First Date</h2>
            <span>26 Velj. 2017</span>
            <p>
              Šetali su uz rivu, elegantno odjeveni, s mirisom soli u zraku.
              „Pazi na valove,“ rekao je dok joj je pružao ruku. „Ako ti vodiš,“
              nasmijala se. Stali su kod svjetionika, more je šumjelo, a
              trenutak je bio tih, savršen. „Ovo ćemo pamtiti,“ rekla je, i
              oboje su znali da hoće.
            </p>
            <div class="inner-shape">
              <img src="assets/images/story/flower-shape-2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="wpo-story-item">
        <div class="wpo-story-img-wrap">
          <div class="wpo-story-img">
            <img src="assets/images/yes.jpg" alt="djevojska sjedi s cvijećem" />
            <div
              class="wpo-img-shape wow fadeInLeftSlow"
              data-wow-duration="1200ms"
            >
              <img
                src="assets/images/story/flower-shape-1.png"
                alt="ukrasno cvijeće"
              />
            </div>
          </div>
        </div>
        <div class="wpo-story-content">
          <div class="wpo-story-content-inner">
            <h2>She Said Yes</h2>
            <span>10 Tra. 2018</span>
            <p>
              Vratio ju je na mjesto prvog spoja, svjetionik obasjan zalaskom.
              „Hoćeš li zauvijek biti uz mene?“ upitao je, klečeći. Osmijeh joj
              je govorio sve. „Da,“ šapnula je, dok su valovi šaptali u
              pozadini.
            </p>
            <div class="inner-shape">
              <img src="assets/images/story/flower-shape-2.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>
